@font-face {
    font-family: Gilroy-Medium;
    src: url('/fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url('/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: Gilroy-SemiBoldItalic;
    src: url('/fonts/Gilroy-SemiBoldItalic.ttf');
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-color: #0d1114;
    color: white;
    scroll-behavior: smooth;
    transition: all 0.25s ease-out;
}

.main {
    margin: auto;
    max-width: 47.5rem;
    font-size: 1.1rem;
    line-height: 34px;
    letter-spacing: 0.9px;
    position: relative;
    min-height: 100vh;
}

@media screen and (max-width: 430px) {
    .main {
        padding: 1.5rem 1.45rem;
    }
}

html {
    height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p {
    font-family: Gilroy-Regular;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-container {
    display: block;
    position: relative;
    margin-top: 1rem;
}

.nav-flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.site-title-container {
    display: block;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.9px;
}

.site-title {
    box-shadow: none;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    line-height: 0.5rem;
    font-family: Gilroy-SemiBold;
}

.nav-links-container {
    display: flex;
    font-size: 18px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex: 1 1 0%;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: end;
    justify-content: flex-end;
}

.nav-links {
    font-family: Gilroy-Medium;
    box-shadow: none;
    margin-left: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    color: rgb(212, 212, 212);
}

.nav-links:hover {
    color: white;
}

/* Footer */

footer {
    position: relative;
    font-family: Gilroy-Regular;
    color: rgb(180, 180, 180);
    text-align: center;
}

.footer {
    padding-bottom: 50px;
}

@media only screen and (max-width: 480px) {
    footer {
        width: 100%;
        padding-bottom: 25px !important;
    }
}

/* About Me */

.about-me-container {
    display: flex;
    flex: wrap;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 28px;
    line-height: 3rem;
}

@media screen and (max-width: 770px) {
    .about-me-container {
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.about-me-img {
    width: 142px;
    height: 142px;
    min-width: 142px;
    border: 2px white solid;
}

#about-peter-link {
    margin: auto auto auto 2.2rem;
    line-height: 2.7rem;
    font-family: Gilroy-SemiBold;
}

@media screen and (max-width: 770px) {
    #about-peter-link {
        margin-top: 28px;
        text-align: center;
        margin: 20px auto;
    }
}

.about-peter-link:hover {
    color: rgb(42, 130, 177);
}

.about-peter-link {
  box-shadow: none;
  color: white;
  letter-spacing: 1.9px;
  position: relative;
  transition: color .4s ease;
}

.about-peter-link::after {
content: '';
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 2px;
background-color: rgb(0, 114, 177);
transition: width .5s ease-out;
}

.about-peter-link:hover::after {
width: 100%;
}

#about-peter-description {
    font-family: Gilroy-Regular;
}

.social-container {
    display: flex;
    max-width: 36rem;
    font-size: 18px;
    padding-top: 5px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex: 1 1 0%;
    -moz-box-pack: start;
    justify-content: flex-start;
    font-family: Gilroy-Regular;
}

@media screen and (max-width: 770px) {
    .social-container {
        justify-content: center;
        align-items: center;
    }
}

/* Experience header */

.experience-header {
  display: flex;
  justify-content: left;
  font-family: Gilroy-SemiBold;
}

#my-experience {
  margin: 10px 0;
  text-decoration: italic;
}

/* experiences */

.experience {
    margin: 50px 0 50px 0;
}

.experiences-title {
    font-size: 24px;
    font-family: Gilroy-Regular;
    color: rgb(180, 180, 180);
}

.experience-link-container {
    display: flex;
    max-width: 36rem;
    font-size: 30px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex: 1 1 0%;
    -moz-box-pack: start;
    justify-content: flex-start;
    font-family: Gilroy-SemiBold;
}

.experience-link {
    box-shadow: none;
    color: white;
    letter-spacing: 1.9px;
    position: relative;
    transition: color .4s ease;
}

.experience-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: width .5s ease-out;
}

.experience-link:hover::after {
    width: 100%;
}

#ey-intern::after {
    background-color: rgb(255, 230, 0);
}

#ey-intern:hover {
    color: rgb(255, 230, 0);
}

#fd-agent::after {
    background-color: rgb(37, 150, 190);
}

#fd-agent:hover {
    color: rgb(37, 150, 190);
}

#si-leader::after {
    background-color: rgb(5, 144, 51);
}

#si-leader:hover {
    color: rgb(5, 144, 51);
}

.experience-info {
    font-size: 16px;
    font-family: Gilroy-Regular;
    color: rgb(180, 180, 180);
}

.experience-info a {
    color: white;
}

.experience-description {
    margin: 0 0 20px;
}

/* About */

.about-container {
    display: grid;
    grid-template-areas: /* creates a grid template */
        "header header"
        "paragraph paragraph"
        "img img";

    grid-template-columns: 2fr 0fr; /* creates ratio between columns */
    grid-template-rows: 50px auto auto; /* creates ratio between rows */
    grid-column-gap: 1em;
    align-items: center;
    gap: 1em;
    margin-top: 40px;
    }

@media screen and (max-width: 730px) {
    .about-container {
        grid-template-areas: 
            "header header"
            "paragraph paragraph"
            "img img";
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto;
    }
}

.about-title {
    grid-area: header;
    font-family: Gilroy-SemiBoldItalic;
}

#paragraph-1{
    grid-area: paragraph;
}

@media screen and (max-width: 480px) {
  #paragraph-1 {
    margin-bottom: 0;
  }
}

.resume-pdf {
    width: clamp(15rem, 80vw, 44.5rem); /* creates a min, percent of viewport size, and max width for the image */
    justify-self: center; /* centers the image in the column */
}

.resume-pdf iframe {
  width: 100%;
  height: 100vh;
}

.mobile-text {
  display: none;
}

@media screen and (max-width: 480px) {
    .resume-pdf {
        display: none;
    }

    .mobile-text {
      display: block;
    }

    .mobile-text a {
      font-family: Gilroy-Medium;
      text-decoration: underline;
    }
}

/* Contact */

.contact-container {
    font-family: Gilroy-Regular;
}

.contact-text-container {
    display: grid;
    grid-template-areas: /* creates a grid template */
        "title"
        "text";
    align-items: center;
}

.contact-title {
    grid-area: title;
    font-family: Gilroy-SemiBoldItalic;
    width: clamp(15rem, 80vw, 44.5rem);
    justify-self: center;
    margin: 0;
}

.contact-text {
    grid-area: text; 
    width: clamp(15rem, 80vw, 44.5rem);
    justify-self: center;
}

.contact-form {
    font-family: Gilroy-Regular;
    display: grid;
    grid-template-areas: /* creates a grid template */
        "name"
        "email"
        "message"
        "send";

    align-items: center;
    gap: 1.25em;
    padding-bottom: inherit;
}

.contact-item {
    font-family: Gilroy-Regular;
    font-size: 1rem;
    padding: .5rem;
    border: 2px solid #eee;
    border-radius: 5px;
    justify-self: center;
}

input[type="text"] {
    grid-area: name;
    width: clamp(15rem, 80vw, 44.5rem);
    justify-self: center;
}

input[type="email"] {
    grid-area: email;
    width: clamp(15rem, 80vw, 44.5rem);
    justify-self: center;
}

textarea[name="message"] {
    grid-area: message;
    resize: vertical;
    width: clamp(15rem, 80vw, 44.5rem);
    justify-self: center;
}

input[placeholder] {
    font-size: 1rem;
}

input[type="submit"] {
    font-size: 1rem;
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    cursor: pointer;
    padding:10px;
    border: 2px solid #eee;
    color:rgb(212, 212, 212);
    border-radius:5px;
    width: clamp(15rem, 80vw, 44.5rem);
    grid-area: send;
    justify-self: center;
}

input[type="submit"]:hover {
    background-color: rgb(50, 60, 68);
}

.success {
    color: #73C276;
    font-size: 1rem;
    text-align: center;
}

.error {
    color: #FA5B5B;
    font-size: 1rem;
    text-align: center;
}